/* Regole generali */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}



/* Regole header */


header{
    position: fixed;
    z-index: 900;
    width: 100%;
    height: 7vh;
    background-color: rgb(238, 224, 224);
    display: flex;
    justify-content: flex-start;
}


.header-sinistra{
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}


.logo-dropbox{
    padding: 10px;
}

.menu-header{
    padding: 10px;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}

.header-destra{
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    position: absolute;
    top: 0;
    right: 0;
}

.inizia{
    background-color: blue;
    color: white;
    padding: 5px;
}

/* .nav-link{
    padding: 0 10px;
    display: block;
    height: 100%;
} */


/* Regole main */

main{
    position: relative;
}

/* Regole jumbotron */
.jumbotron{
    width: 100%;
    background-color: rgb(41, 199, 234);
    position: absolute;
    top: 7vh;
}

.jumbo-container{
    width: 70%;
    margin-left: 150px;
}


.titolone{
    font-size: 40px;
    width: 100%;
    margin-left: 150px;
    margin-top: 50px;
    margin-bottom: 50px;
    position: relative;
}

.jumbo-destra-sinistra{
    display: flex;
    justify-content: space-around;
}

.jumbotron-sezione-sinistra{
    width: 30%;
    margin: 50px 150px;
    font-size: 20px;
}

.jumbotron-sezione-sinistra p{
    margin: 50px 0;
}

.jumbotron-sezione-sinistra i{
    margin: 50px 0;
}

#jumbo{
    border-style: none;
    background-color: rgb(41, 199, 234);
    margin-top: 20px;
}

.jumbotron-sezione-destra{
    width: 65%;
}

.jumbotron-sezione-destra img{
    width: 100%;
}



/* Regole main sezione centrale o piano business */


.piano-business{
    width: 60%;
    margin-left: 300px;
    margin-top: 50px;
    background-color: white;
    position: absolute;
    top: 1254px;
}

#titolo-main{
    margin-bottom: 50px;
}


.bottoni-main{
    width: 400px;
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;
}

/* Tabella divisa in 3 colonne */

.colonne-piano-business{
    display: flex;
    margin-bottom: 50px;
}


.tabella-parte-alta{
    border: solid 1px rgb(246, 242, 242);
    padding: 9px;
    width: 100%;
    text-align: center;
}




.tab-main{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    border: solid 1px rgb(246, 242, 242);
    width: 100%;
    height: 500px;
    text-align: left;
    padding: 9px;
}


.tab-sezione-larga{
    width: 100%;
    border: solid 1px rgb(246, 242, 242);
    margin-bottom: 100px;
}

.enterprise{
    padding-left: 20px;
    padding-top: 20px;
}

#p-tab{
    padding-bottom: 20px;
    padding-left: 20px;
    padding-top: 50px;
    width: 60%;
}

#vendite{
    float: right;
    margin-right: 20px;
}

#partners-section{
    width: 100%;
    display: flex;
}



#partner{
    width: 60%;
}

#p-partners{
    margin-top: 30px;
    margin-bottom: 30px;
}

#button-partner{
    padding: 10px;
    background-color: white;
}

.partner-right{
    margin-top: 50px;
    margin-left: 50px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#DB{
    margin-top: 100px;
    margin-bottom: 100px;
    width: 100%;
}

.db-row {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 100%;
}

.db-col {
    max-width: 100%;
}



