/* Regole generali */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/* Regole di debug */



/* Regole header */


header{
    position: fixed;
    z-index: 900;
    width: 100%;
    height: 7vh;
    background-color: rgb(238, 224, 224);
    display: flex;
    justify-content: flex-start;
}


.header-sinistra{
    width: 30%;
    height: 100%;
    background-color: orange;
    display: flex;
    justify-content: space-between;
}


.logo-dropbox{
    padding: 10px;
}

.menu-header{
    padding: 10px;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}

.header-destra{
    width: 30%;
    height: 100%;
    background-color: orange;
    display: flex;
    justify-content: space-around;
    position: absolute;
    top: 0;
    right: 0;
}

#inizia{
    background-color: blue;
    color: white;
    padding: 5px;
}


/* Regole main */

main{
    position: relative;
}


.jumbotron{
    width: 100%;
    height: 500px;
    background-color: rgb(41, 199, 234);
    position: absolute;
    top: 7vh;
}


.titolone{
    font-size: 50px;
    margin-left: 150px;
    margin-top: 50px;
    margin-bottom: 50px;
}


.jumbotron-sezione-destra{
    position: absolute;
    right: 0;
    top: 300px;
    height: 300px;
    width: 45%;
}

.jumbotron-sezione-destra img{
    width: 100%;
    height: 100%;
}

